# URL Target for E2E tests (local development, staging, or production)
BASE_URL=http://localhost:3003

# Test Vendor credentials
TEST_VENDOR_EMAIL=admin@gustomenu.com
TEST_VENDOR_PASS=your_vendor_password

# Test Client credentials
TEST_CLIENT_EMAIL=client@example.com
TEST_CLIENT_PASS=your_client_password
